body {
    margin: 0;
    padding: 0;
    background-color: #162640;
    color: #fbfbfc;
    font-family: 'Montserrat', sans-serif;
  }
  
    .material-icons-outlined {
      display: inline-block;
      font-size: 24px;
      margin: 0 10px;
      cursor: pointer;
      transition: all 0.3s ease; /* Efek transisi untuk semua properti */
    }
  
  .material-icons-outlined:hover {
    border: 1px solid #aaa8a8;
    border-radius: 5px;
    background-color: #575656;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Bayangan di tengah ikon */
    transform: scale(1.1); /* Perbesar ukuran ikon */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* ---------- HEADER ---------- */
  .header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .header-right{
    justify-content: space-between;
    position: relative;
  }
  
  .header-left, .header-right {
    display: inline-block;
    position: relative;
  }
  .header-left .material-icons-outlined, .header-right .material-icons-outlined {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .btnSearch {
    width: auto;
    background-color: #d8d8d8;
    border: 2px solid rgb(229, 223, 223);
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
    cursor: pointer;
  }
  
  .btnSearch:hover {
    border: 1px solid #aaa8a8;
    border-radius: 5px;
    background-color: #575656;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Bayangan di tengah ikon */
    transform: scale(1.1); /* Perbesar ukuran ikon */
  }
  
  .search-input,
  .btnSearch {
      display: none;
      margin-left: 10px;
      padding: 5px;
  }
  .header-left.active .search-input,
  .header-left.active .btnSearch {
      display: inline-block;
  }
  .material-icons-outlined email-icon{
    margin: 20px;
  }
  
  
  .notifications {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
  }
  
  .notifications a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
  }
  .notifications a:hover {
    background-color: #aeafaf;
  }
  
  .email-panel {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    width: 300px;
    background-color: white;
    color: #162640;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }
  .email-panel.active {
    display: block;
  }
  .email-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  .email-item:last-child {
    border-bottom: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
    padding: 12px 16px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown.active .dropdown-content {
    display: block;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
  }
  
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }




.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
